**/node_modules
/docs

/packages/create-next-gen-react-app-template/dist
/packages/create-next-gen-react-app-template/pnpm-lock.yaml
/packages/create-next-gen-react-app-template/package-lock.json
/packages/create-next-gen-react-app-template/.turbo
